<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= resta.name %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('../partial/navbar') %>

        <div class="content">
            <div class="details-card">
                <h1>
                    <%= resta.name %>
                </h1>

                <p><span id="bold">📍 Address:</span>
                    <%= resta.address %>
                </p>

                <p>
                    <span id="bold">🔑</span>
                    <% if (!resta.isOpen) { %>
                        <span id="close">Closed</span>
                        <% } else { %>
                            <span id="open">Open</span>
                            <% } %>
                </p>

                <p><span id="bold">📞 Phone:</span>
                    <%= resta.phone %>
                </p>

                <h2>Menu</h2>

                <% for (let oneItem of resta.menu) { %>
                    <div class="menu-item">
                        <h3>
                            <%= oneItem.name %>
                        </h3>
                        <p>💲 Price: <%= oneItem.price %>
                        </p>
                        <p>⭐ Rating: <%= oneItem.rating %>
                        </p>
                    </div>
                    <% } %>
            </div>
        </div>
</body>

</html>